

.pageContainer{
    background-color: var(--off-bright-colour);
    width: 100vw;
    max-width:100%;  /* added */
    height: 100%;
    padding-top: 8vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;
}



.cataloguePageContent{
    display: flex;
    flex-direction: row; 
    align-items: start;
    justify-content: center;
    width: 80vw;
    padding-top: 1vh;
    
}

@media (min-width: 100vw) {

    .pageContainer{
        width: calc(100vw - 17px);
    }
}

.leftMenu{

    background-color: var(--bright-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;

    
    width: 10vw;
    
    padding: 4vh 1vw 1vh 1vw;
   
}

.centreSection{

    width: 30vw;
    
    padding: 0vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rightSection{
    
    
    
    width: 10vw;
    
    padding: 0vh 1vw 1vh 1vw;
}