.pageContainer{

    width: 100vw;
    max-width:100%;  /* added */
    min-height: 80vh;
    padding-top: 8vh;

    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: start;
}

.orderPageShoppingCart{
    display: flex;
    flex-direction: column;

}

.orderSection{
    display: flex;
    flex-direction: column;
}