.groupSection{
    
    margin-bottom: 2vh;
}

.groupTitleArea{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

.groupTitleArea svg{
    height: 15px;
    justify-content: end;
    margin: 0 0.5vw;
    padding: 0;
    width: fit-content;

}

.groupTitle{
    margin: 0;
    padding: 0;
}

.groupTitleArea:hover{
    cursor: pointer;
}

.groupElement{
    list-style: none;
    margin: 0 0 0 -1em;
    padding: 0;

    border-radius: 5px;
    
}

.groupElement:hover{
    cursor: pointer;
    background-color: var(--off-bright-colour);
    list-style: disc;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}