
.pageContainer{
    background-color: white;
    padding-top: 8vh;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: start;
}


.fullPageStrip{
    width: calc(100vw - 17px);
    padding: 1vh 0 ;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.partialPageStrip{
    padding: 2vh 20vw;
}

.backToTopButton{
    background-color: black;
    border: 1px solid black;
}




