.itemViewContainer{
    max-width: 30vw;

    background-color: var(--bright-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;
}

.itemViewContainer img{
    width: 100%;
    object-fit: cover;
}