

.homePageContactSectionContainer{
    background-color: var(--bright-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;
    margin: 1vh 2vw;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homePageContactSectionTextArea{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--dark-colour);
    margin: 1vh 1vw;
    
}

.homePageContactSectionTextArea p{
    padding: 0;
    margin: 0;
}

.homePageContactSectionMapArea{
    width: 300px;
    height: 300px;
    border: 1px dashed var(--dark-colour);
    margin: 1vh 1vw;
    overflow: hidden;
   
    
}

.homePageContactSectionMapArea img{
    height: 300px;
    
    overflow: hidden;
}