

.homePageContactSectionContainer{
    margin: 1vh 2vw;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.homePageContactSectionContainer h3{
    font-weight: 600;
}

.homePageContactSectionSquares
{
    display: flex;
    flex-direction: row;
}
.homePageContactSectionTextArea{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: var(--mid-colour);

    margin: 1vh 1vw;
    
    
}
.homePageContactSectionTextArea h3{
    padding: 0;
    margin: 0.8vh;
    font-weight: 800;
    font-family: 'Open Sans';
    
}

.homePageContactSectionTextArea p{
    font-family: 'Open Sans';
}


.homePageContactSectionTextArea p{
    padding: 0;
    margin: 0;
}

.homePageContactSectionMapArea{
    width: 300px;
    height: 300px;
    
    margin: 1vh 1vw;
    overflow: hidden;
   
    
}

.homePageContactSectionMapArea img{
    height: 300px;
    
    overflow: hidden;
}