

.navBar{
    width: 100vw;
    
    background-color: var(--bright-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
   
}

.navBarFirstRow{
    background-color: blue;
    color: white;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.navBarFirstRow svg{
    color: white;
    height: 25px;
    width: auto;
    margin: 0.5vw;
}

.navBarSecondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    padding: 0;
}

.navBarSecondRow h3{
    margin: 0;
    padding: 0;
}

.navBarLink{
    color: var(--dark-colour);
    padding: 1vh 1vw;
    height: 100%;
    
   
}

.navBarLink:hover{
    background-color: var(--mid-colour);
   
}



.navBarProfileMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 3vw;
    z-index: 1000;
    background-color: var(--bright-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    overflow: hidden;

    transition: opacity 0.25s ease;
    opacity: 0;
    padding: 1vh 1vw;
}

.hidden{

    opacity: 0;

}

.visible{

    opacity: 1;
}

.navBarProfileMenu ul{
    padding: 0;
    margin: 0;
}
.navBarProfileMenu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}


